<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用户SQL映射-->
<mapper namespace="com.beerus.mapper.UserMapper">
    <select id="get_findByNameAndPwd" resultMap="user">
        SELECT
              `id`,
              `userCode`,
              `userName`,
              `userPassword`,
              `gender`,
              `birthday`,
              `phone`,
              `address`,
              `userRole`,
              `createBy`,
              `creationDate`,
              `modifyBy`,
              `modifyDate`
        FROM `smbms_user`
        WHERE `userCode` = #{userCode} AND `userPassword` = #{password}
    </select>
    <resultMap id="user" type="SmbmsUser">
        <id column="id" property="id"/>
        <result column="userCode" property="userCode"/>
        <result column="userName" property="userName"/>
        <result column="userPassword" property="userPassword"/>
        <result column="gender" property="gender"/>
        <result column="birthday" property="birthday"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="userRole" property="userRole"/>
        <result column="createBy" property="createBy"/>
        <result column="creationDate" property="creationDate"/>
        <result column="modifyBy" property="modifyBy"/>
        <result column="modifyDate" property="modifyDate"/>
    </resultMap>
</mapper>