<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--订单SQL映射-->
<mapper namespace="com.beerus.mapper.BillMapper">

    <insert id="save_Bill" parameterType="Bill">
        INSERT INTO `smbms_bill`(
            `id`,
            `billCode`,
            `productName`,
            `productDesc`,
            `productUnit`,
            `productCount`,
            `totalPrice`,
            `isPayment`,
            `createBy`,
            `creationDate`,
            `modifyBy`,
            `modifyDate`,
            `providerId`)
                            VALUES(
            DEFAULT,
            #{billCode},
            #{productName},
            NULL,
            #{productUnit},
            #{productCount},
            #{totalPrice},
            #{isPayment},
            #{createBy},
            NOW(),
            NULL,
            NULL,
            #{providerId})
    </insert>
    <update id="update_ByBillId" parameterType="Bill">
        UPDATE `smbms_bill`
        SET `billCode` = #{billCode},
            `productName` = #{productName},
            `productUnit` = #{productUnit},
            `productCount` = #{productCount},
            `totalPrice` = #{totalPrice},
            `isPayment` = #{isPayment},
            `providerId` = #{providerId},
            `modifyBy` = #{modifyBy},
            `modifyDate` = NOW()
        WHERE `id` = #{id}
    </update>
    <delete id="delete_ByBillId" parameterType="Integer">
        DELETE  FROM `smbms_bill` WHERE `id` = #{id}
    </delete>


    <select id="get_ByBillId" parameterType="Integer" resultMap="billList">
        SELECT b.id AS b_id,p.id AS p_id,`billCode`,`productCount`,`productName`,`proName`,`totalPrice`,`isPayment`,`productUnit`,b.`creationDate`
        as b_creationDate
        FROM  `smbms_bill` AS b,`smbms_provider` AS p
        WHERE b.providerId = p.id AND b.id = #{id}
    </select>
    <select id="count_ByCode" parameterType="String" resultType="Integer" >
        SELECT COUNT(id)
        FROM `smbms_bill`
        WHERE `billCode` = #{billCode}
    </select>
    <select id="count_Total" parameterType="Map" resultType="Integer" >
        SELECT COUNT(b.id)
        FROM `smbms_bill` AS b,`smbms_provider` AS p
        <trim prefix="WHERE">
            b.providerId = p.id
            <if test="null != productName and '' != productName">AND `productName` LIKE CONCAT('%',#{productName},'%')
            </if>
            <if test="null != providerId and 0 != providerId">AND `providerId` = #{providerId}</if>
            <if test="null != isPayment and 0 != isPayment">AND `isPayment` = #{isPayment}</if>
        </trim>
    </select>
    <select id="list_FindBillByFilterOrPage" resultMap="billList" parameterType="Map" >
        SELECT b.id AS b_id,p.id AS p_id,`billCode`,`productName`,`productCount`,`proName`,`totalPrice`,`isPayment`,`productUnit`,b.`creationDate`
        as b_creationDate
        FROM `smbms_bill` AS b,`smbms_provider` AS p
        <trim prefix="WHERE">
            b.providerId = p.id
            <if test="null != productName and '' != productName">AND `productName` LIKE CONCAT('%',#{productName},'%')
            </if>
            <if test="null != providerId and 0 != providerId">AND `providerId` = #{providerId}</if>
            <if test="null != isPayment and 0 != isPayment">AND `isPayment` = #{isPayment}</if>
        </trim>
        ORDER BY b.`creationDate` DESC
        LIMIT #{currPageNo},#{pageSize}
    </select>
    <resultMap id="billList" type="Bill">
        <id property="id" column="b_id"/>
        <result property="billCode" column="billCode"/>
        <result property="productName" column="productName"/>
        <result property="totalPrice" column="totalPrice"/>
        <result property="productCount" column="productCount"/>
        <result property="isPayment" column="isPayment"/>
        <result property="productUnit" column="productUnit"/>
        <result property="creationDate" column="b_creationDate"/>
        <result property="providerId" column="p_id"/>
        <association property="provider" javaType="Provider">
            <id property="id" column="p_id"/>
            <result property="proName" column="proName"/>
        </association>
    </resultMap>
</mapper>