<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--用户SQL映射-->
<mapper namespace="com.beerus.mapper.UserMapper">

    <!--用户管理-->
    <insert id="save_User" parameterType="User">
        INSERT INTO `smbms_user`
        VALUES(DEFAULT,
        #{userCode},
        #{userName},
        #{userPassword},
        #{gender},
        #{birthday},
        #{phone},
        #{address},
        #{userRole},
        #{createBy},
        NOW(),NULL,NULL)
    </insert>
    <update id="update_User" parameterType="User">
        UPDATE`smbms_user`
        SET
        `userName` = #{userName},
        `gender` = #{gender},
        `birthday` = #{birthday},
        `phone` = #{phone},
        `address` = #{address},
        `userRole` = #{userRole},
        `modifyBy` = #{modifyBy},
        `modifyDate` = NOW()
        WHERE `id` = #{id}
    </update>
    <delete id="delete_User" parameterType="Integer">
    DELETE FROM `smbms_user` WHERE `id` = #{id}
    </delete>
    <select id="count_ByCode" parameterType="String" resultType="Integer">
        SELECT  COUNT(1) FROM `smbms_user` WHERE `userCode` = #{userCode}
    </select>
    <select id="get_UserById" parameterType="Integer" resultMap="list_User">
        SELECT u.id AS u_id,`userCode`,`userName`,`gender`,`birthday`,`phone`,r.id AS r_id,`roleName`,`address`
        FROM `smbms_user` u,`smbms_role` r
        WHERE u.userRole  = r.id AND u.id = #{id}
    </select>
    <select id="count_Row" parameterType="map" resultType="Integer">
        SELECT COUNT(1)
        FROM `smbms_user` u,`smbms_role` r
        <trim prefix="where">
            u.userRole = r.id
            <if test="null != userName and '' != userName">AND userName LIKE CONCAT('%',#{userName},'%')</if>
            <if test="null != userRole and 0 != userRole">AND userRole = #{userRole}</if>
        </trim>
    </select>
    <select id="list_FindByFilterAndPage" parameterType="map" resultMap="list_User">
        SELECT u.id AS u_id,`userCode`,`userName`,`gender`,`birthday`,`phone`,r.id AS r_id,`roleName`
        FROM `smbms_user` u,`smbms_role` r
        <trim prefix="where">
            u.userRole = r.id
            <if test="null != userName and '' != userName">AND userName LIKE CONCAT('%',#{userName},'%')</if>
            <if test="null != userRole and 0 != userRole">AND userRole = #{userRole}</if>
        </trim>
        ORDER BY u.creationDate DESC
        LIMIT #{currPageNo},#{pageSize}
    </select>
    <resultMap id="list_User" type="User">
        <id property="id" column="u_id"/>
        <result property="userCode" column="userCode"/>
        <result property="userName" column="userName"/>
        <result property="gender" column="gender"/>
        <result property="birthday" column="birthday"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <association property="role" javaType="Role">
            <id property="id" column="r_id"/>
            <result property="roleName" column="roleName"/>
        </association>
    </resultMap>


    <!--基础用户管理-->
    <update id="updatePwd">
        UPDATE `smbms_user`
        SET `userPassword` = #{userPassword}
        WHERE `id` = #{id}
    </update>
    <select id="get_User" resultMap="userMapper">
        SELECT `id`,`userCode`,`userName`,`userPassword`
        FROM `smbms_user`
        WHERE `userCode` = #{userCode} AND `userPassword` = #{password}
    </select>
    <resultMap id="userMapper" type="user">
        <id property="id" column="id"/>
        <result property="userCode" column="userCode"/>
        <result property="userName" column="userName"/>
        <result property="userPassword" column="userPassword"/>
    </resultMap>
</mapper>